# --- Frontend (Ajuster les chemins si nécessaire, ex: node_modules devient Frontend/node_modules) ---
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# --- Backend (FastAPI / Python) ---
Backend/__pycache__/
Backend/.venv/
Backend/env/
Backend/.env
Backend/*.pyc